<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<body>
  <!-- Header -->
  <app-header [isIndex]="false" [logged]="stats.isUserLogged"></app-header>

  <div class="alert alert-warning text-center" role="alert" style="margin-top: 56px;" *ngIf="stats.eventFinished">
    Este evento ha finalizado.
  </div>


  <div class="container mt-3">
    <div class="profile-container">
      <!-- Main title, photo, category and registered users-->
      <h2 class="event-title">{{ event?.name }}</h2>
      <img [src]="event?.imageUrl" class="d-block w-100" id="event-photo" alt="imagen {{event?.name}}"><br>
      <div class="categories-container info d-flex justify-content-between">
        <div style="max-height: 15px; padding-top:10px;">
          <span class="event-category" [style.background-color]="category?.color">{{ category?.name }}</span>
        </div>
        <span class="event-capacity etiqueta-aforo">Aforo: {{ event?.numRegisteredUsers }}/{{ event?.maxCapacity }}</span>
      </div>

      <!--Info section-->
      <div class="user-events">
        <h3 class="next">Información</h3>
        <p><strong>Descripción: </strong> {{ event?.description }}</p>
        <div class="row flex-wrap p-3">
          <div>
            <p><strong><i class="fas fa-users"></i> Aforo máximo: </strong> {{ event?.maxCapacity }} personas</p>
            <p><strong><i class="fas fa-map-marker-alt"></i> Lugar: </strong> <a href="#map">Ver mapa</a></p>
            <p><strong><i class="fas fa-euro-sign"></i> Precio: </strong> {{ event?.price }}</p>
            <p><strong><i class="fas fa-clock"></i> Fecha de inicio: </strong> {{ event?.startDate }}</p>
            <p><strong><i class="fas fa-clock"></i> Fecha de fin: </strong> {{ event?.endDate }}</p>
            <p><strong><i class="fas fa-hourglass-half"></i> Duración: </strong> {{ event?.duration }}</p>
            <p><strong><i class="fas fa-info-circle"></i> Información adicional: </strong> {{ event?.additionalInfo }}</p>
          </div>
        </div>
      </div>

      <!-- Actions section -->
      <div class="user-events actions-section mt-4" *ngIf="stats.eventFinished">
        <h3 class="next">Acciones</h3>
        <div class="d-flex justify-content-center flex-wrap">
          <div class="user-events actions-section mt-4">

            <div *ngIf="stats.isCreator || isUserAdmin">
              <div class="m-2">
                <button (click)="onDeleteClick()">Eliminar evento</button>
              </div>
              <div class="m-2">
                <button (click)="onEditClick()" class="btn btn-info"><i class="fas fa-edit"></i>Editar Evento</button>
              </div>
            </div>

            <div *ngIf="stats.isUserLogged">
              <div class="m-2" *ngIf="stats.hasUserJoined">
                  <button (click)="leaveEvent()" class="btn btn-warning">Desapuntarte de {{ event?.name }}</button>
                <br>
                  <button (click)="eventTicket()" class="btn btn-primary"><i class="fas fa-ticket-alt"></i>Ver entrada a {{ event?.name }}</button>
              </div>
              <div class="m-2" *ngIf="!stats.hasUserJoined">
                <button (click)="joinEvent()" class="btn btn-primary">Apuntarte a {{ event?.name }}</button>
              </div>
            </div>
          </div>
          </div>
      </div>
      </div>

      <div class="user-events actions-section mt-4" *ngIf="stats.eventFinished">
        <!-- Feedback and rating section -->
        <h3 class="next"><i class="fas fa-clipboard-list"></i> Retroalimentación</h3>
        <div *ngIf="stats?.isUserLogged">
          <div *ngIf="stats?.eventFinished">
            <div *ngIf="stats?.hasUserJoined">
              <div class="review-section mt-3" *ngIf="!stats?.hasUserReviewed">
                <a href="/review/event/{{event?.id}}" class="btn btn-primary"><i class="fas fa-star"></i> Dejar una
                  review</a>
              </div>
              <div class="alert alert-info" role="alert" *ngIf="stats.hasUserReviewed">
                Ya has valorado este evento. Gracias por tu feedback.
              </div>
           </div>
            <div *ngIf="stats.isCreator || isUserAdmin">
              <div class="event-attendance-input-section mt-3">
                <div *ngIf="!attendeesCountSet">
                  <form [formGroup]="attendeeForm" (ngSubmit)="updateAttendees()">
                    <div class="form-group mb-2">
                      <label class="sr-only"> Número de asistentes</label> <!--for="attendeesCount"-->
                      <input type="number" class="form-control" name="attendeesCount" placeholder="Número de asistentes"
                            min="0"
                            max="{{event?.numRegisteredUsers}}" required>
                    </div>
                    <button type="submit" class="btn btn-info mb-2 ml-2"><i class="fas fa-save"></i> Guardar</button>
                  </form>
                </div>
              </div>
              <div class="graphicContainer">
                <div class="event-attendance-chart-section mt-3">
                  <div *ngIf="attendeesCountSet">
                    <h4><i class="fas fa-chart-pie"></i> Gráfica de Asistencia</h4>
                    <div class="container charts-container">
                      <div class="row flex-wrap">
                        <div class="chart">
                          <div *ngIf="graphData">
                            <ngx-charts-pie-chart
                              [results]="chartData"
                              [legend]="false"
                              [labels]="true"
                              [doughnut]="true"
                              [arcWidth]="0.25"
                              [gradient]="gradient"
                              [scheme]="colorScheme">
                            </ngx-charts-pie-chart>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="event-average-rating-section mt-4">
          <h4><i class="fas fa-star-half-alt"></i> Valoración Media del Evento: {{ event?.averageRating }}
            (Con {{ event?.reviewNum }}
            valoraciones)
          </h4>
          <br>
        </div>
      </div>

      <!--Location section-->
      <div class="user-events" id="map">
        <h3 class="created">Localización</h3>
        Este evento tiene lugar en: {{ event.location }}.<br><br>
        <div class="container map-container">
          <div class="row flex-wrap">
            <div class="map">
              {{ event.map }}
            </div>
          </div>
        </div>

        <!--Creator section-->
        <div class="user-events">
          <h3 class="next">Anfitrión</h3>
          <div class="row flex-wrap p-5">
            <div class="row">
              <div class="mx-auto">
                <img class="profile-photo" src="/profile/img/{{creator.username}}"
                     alt="Foto de Perfil de {{creator.username}}">
              </div>
              <div>
                <h4 class="fs-5 mt-4 px-4 pb-1">{{ creator.name }} (registrado como {{ creator.username }}
                  )
                </h4>
                <p class="px-4">Soy {{ creator.name }}, tu organizador de confianza. Para contactar conmigo,
                  escríbeme a mi correo {{ creator.email }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Other events section
          <div class="user-events">
            <h3 class="next">Eventos a los que me he apuntado
            </h3>
            <div class="row flex-wrap" id="eventsChart">
              <div class="col-md-4 mb-4" *ngIf="otherEvents">
                <div class="activity d-flex flex-row align-items-center">
                  <div class="categories-container info event-container-tag-div">
                    <span class="event-category" style="background-color: {{category.color}};">{{ category.name }}</span>
                  </div>
                  <h5 class="info event-container-text">{{ name }}</h5>
                  <form action="/event/{{id}}" method="GET">
                    <button class="btn btn-primary" type="submit">Ver Detalles</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="text-center" *ngIf="!otherEvents">
              <h5 class="no-events-message">No hay eventos.</h5>
            </div>
            <div class="text-center" id="spinner" style="display: none">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>

          <div class="container text-center mt-4">
            <div class="row justify-content-center">
              <div class="col-auto">
                <button class="btn btn-primary" data-type="/otherEvents" data-nextPage="1" id="home-load-more-btn"
                        style="display: {{moreEvents}}">Cargar más eventos
                </button>
              </div>
            </div>
          </div>
          -->
      </div>
    </div>
</body>
