<body>
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>

  <div *ngIf="!isLoading">
    <!-- Header -->
    <app-header [isIndex]="false" [logged]="isUserLogged"></app-header>
    <div *ngIf=stats.eventFinished>
      <div class="alert alert-warning text-center" role="alert" style="margin-top: 56px;">
        Este evento ha finalizado.
      </div>
    </div>
    <div class="container mt-3">
      <div class="profile-container">
        <h2 class="event-title">{{event.name}}</h2>
        <img [src]="event.imageUrl" class="d-block w-100" id="event-photo" alt="imagen {{event.name}}"><br>
        <div class="categories-container info d-flex justify-content-between">
          <div style="max-height: 15px; padding-top:10px;">
            <span class="event-category" [style.background-color]="category.color">{{category.name}}</span>
          </div>
          <span class="event-capacity etiqueta-aforo">Aforo:
            {{event.numRegisteredUsers}}/{{event.maxCapacity}}</span>
        </div>
        <!--Info section-->
        <div class="user-events">
          <h3 class="next">Información</h3>
          <p><strong>Descripción: </strong> {{event.description}}</p>
          <div class="row flex-wrap p-3">
            <div>
              <p><strong><fa-icon [icon]="faUsers"></fa-icon> Aforo máximo: </strong> {{event.maxCapacity}} personas</p>
              <p><strong><fa-icon [icon]="faMapMarkerAlt"></fa-icon> Lugar: </strong> Ver mapa </p>
              <p><strong><fa-icon [icon]="faEuroSign"></fa-icon> Precio: </strong> {{event.price}} €</p>
              <p><strong><fa-icon [icon]="faClock"></fa-icon> Fecha de inicio: </strong> {{event.startDate}}</p>
              <p><strong><fa-icon [icon]="faClock"></fa-icon> Fecha de fin: </strong> {{event.endDate}}</p>
              <p><strong><fa-icon [icon]="faHourglassHalf"></fa-icon> Duración: </strong> {{event.duration}}</p>
              <p><strong><fa-icon [icon]="faInfoCircle"></fa-icon> Información adicional: </strong> {{event.additionalInfo}}</p>
            </div>
          </div>
        </div>
        <div *ngIf=!stats.eventFinished>
          <div class="user-events actions-section mt-4">
            <h3 class="next">Acciones</h3>
            <div class="d-flex justify-content-center flex-wrap">
              <div class="user-events actions-section mt-4">
                <div *ngIf=(isUserAdmin||isUserCreator)>
                  <div class="m-2">
                    <button (click)="onDeleteClick()" class="btn btn-danger"><fa-icon [icon]="faTrashAlt"></fa-icon>Borrar Evento</button>
                  </div>
                  <div class="m-2">
                    <button (click)="onEditClick()" class="btn btn-info"><fa-icon [icon]="faEdit"></fa-icon>Editar Evento</button>
                  </div>
                </div>
                <div *ngIf=isUserLogged>
                  <div *ngIf=stats.hasUserJoined>
                    <div class="m-2">
                      <button (click)="leaveEvent()" class="btn btn-warning">Desapuntarte de {{event.name}}</button>
                    </div>
                    <div class="m-2">
                      <button (click)="eventTicket()" class="btn btn-primary"><fa-icon [icon]="faTicketAlt"></fa-icon>Ver entrada a {{event.name}}</button>
                    </div>
                  </div>
                  <div *ngIf=!(isUserAdmin||isUserCreator)>
                    <div *ngIf=!stats.hasUserJoined>
                      <div class="m-2">
                        <button (click)="joinEvent()" class="btn btn-primary">Apuntarte a {{event.name}}</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf=!isUserLogged>
                  <div class="m-2">
                    <button (click)="joinEventNotLogged()" class="btn btn-primary">Apuntarte a {{event.name}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf=stats.eventFinished>
          <div class="user-events actions-section mt-4">
            <h3 class="next"><fa-icon [icon]="faClipboardList"></fa-icon> Retroalimentación</h3>
            <div *ngIf=isUserLogged>
              <div *ngIf=stats.eventFinished>
                <div *ngIf=stats.hasUserJoined>
                  <div *ngIf=!stats.hasUserReviewed>
                    <div class="review-section mt-3">
                      <button (click)="makeReview()" class="btn btn-primary"><fa-icon [icon]="faStar"></fa-icon> Dejar una review</button>
                    </div>
                  </div>
                  <div *ngIf=stats.hasUserReviewed>
                    <div class="alert alert-info" role="alert">
                      Ya has valorado este evento. Gracias por tu feedback.
                    </div>
                  </div>
                </div>
                <div *ngIf=(isUserAdmin||isUserCreator)>
                  <div class="event-attendance-input-section mt-3">
                    <div *ngIf=showForm>
                      <form [formGroup]="attendeeForm" (ngSubmit)="updateAttendees()">
                        <div class="form-group mb-2">
                          <label class="sr-only"> Número de asistentes</label> <!--for="attendeesCount"-->
                          <input formControlName="attendees" type="number" class="form-control" name="attendeesCount" placeholder="Número de asistentes" min="0" max="{{event.numRegisteredUsers}}" required>                        </div>
                        <div *ngIf="attendeeForm.get('attendees')?.errors?.['required']">
                          <small class="text-danger">Este campo es obligatorio.</small>
                        </div>
                        <div *ngIf="attendeeForm.get('attendees')?.errors?.['min']">
                          <small class="text-danger">El número mínimo de asistentes es 0.</small>
                        </div>
                        <div *ngIf="attendeeForm.get('attendees')?.errors?.['max']">
                          <small class="text-danger">El número máximo de asistentes no puede exceder el número de usuarios registrados.</small>
                        </div>
                        <button type="submit" [disabled]="!attendeeForm.valid" class="btn btn-info mb-2 ml-2"><fa-icon [icon]="faSave"></fa-icon> Guardar</button>
                      </form>
                    </div>
                  </div>
                  <div class="graphicContainer">
                    <div class="event-attendance-chart-section mt-3">
                      <div *ngIf=graphData>
                        <h4><fa-icon [icon]="faChartPie"></fa-icon> Gráfica de Asistencia</h4>
                        <div class="container charts-container">
                          <div class="row flex-wrap">
                            <div class="chart">
                              <div *ngIf="graphData">
                                <ngx-charts-pie-chart
                                  [results]="chartData"
                                  [legend]="false"
                                  [labels]="true"
                                  [doughnut]="true"
                                  [arcWidth]="0.25"
                                  [gradient]="gradient"
                                  [scheme]="colorScheme">
                                </ngx-charts-pie-chart>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="event-average-rating-section mt-4">
              <h4><fa-icon [icon]="faStarHalfAlt"></fa-icon> Valoración Media del Evento: {{event.averageRating}} (Con {{event.reviewNum}} valoraciones)</h4>
              <br>
            </div>
          </div>
        </div>
        <!--Location section-->
        <div class="user-events" id="map">
          <h3 class="created">Localización</h3>
          Este evento tiene lugar en: {{event.location}}.<br><br>
          <div class="container map-container">
            <div class="row flex-wrap">
              <div class="map" [innerHTML]="mapHtml">
              </div>
            </div>
          </div>
          <!--Creator secction-->
          <div class="user-events">
            <h3 class="next">Anfitrión</h3>
            <div class="row flex-wrap p-5">
              <div class="row">
                <div class="mx-auto">
                  <img class="profile-photo" [src]="creator.photo" alt="Foto de Perfil de {{creator.username}}">
                </div>
                <div>
                  <h4 class="fs-5 mt-4 px-4 pb-1">{{creator.name}} (registrado como {{creator.username}})</h4>
                  <p class="px-4">Soy {{creator.name}}, tu organizador de confianza. Para contactar conmigo, escríbeme a mi correo {{creator.email}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
