<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="./assets/logo.png" type="image/png">

  <title>Registro</title>


</head>

<body>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header text-center">
          <img [src]="imgUrl" alt="Logo" class="img-fluid small-logo">
          <h1>Crear Cuenta</h1>
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input formControlName="fullName" type="text" class="form-control" name="name" id="fullname" placeholder="Nombre completo" required>
              <div *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched">
                <small class="text-danger">El nombre es requerido.</small>
              </div>
            </div>
            <div class="form-group">
              <input formControlName="username" type="text" class="form-control" name="username" id="username" placeholder="Nombre de usuario" required>
              <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
                <small class="text-danger">El nombre de usuario es requerido.</small>
              </div>
              <div *ngIf="registerForm.get('username')?.errors?.['userNameTaken'] && registerForm.get('username')?.touched">
                <small class="text-danger">Nombre de usuario inválido. Prueba con otro.</small>
              </div>
            </div>
            <div class="form-group">
              <input formControlName="email" type="email" class="form-control" name="email" id="email" placeholder="Correo electrónico" required>
              <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                <div *ngIf="registerForm.get('email')?.errors?.['required']">
                  <small class="text-danger">El email es requerido.</small>
                </div>
                <div *ngIf="registerForm.get('email')?.errors?.['email']">
                  <small class="text-danger">El email debe tener formato correcto.</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input formControlName="password" type="password" class="form-control" name="encodedPassword" id="password" placeholder="Contraseña" required>
              <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                <div *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched">
                  <small class="text-danger">La contraseña es requerida</small>
                </div>
              </div>
              <div *ngIf="registerForm.errors?.['passwordsMatch'] && registerForm.get('confirmPassword')?.touched && registerForm.get('password')?.touched">
                <small class="text-danger">Las contraseñas deben coincidir.</small>
              </div>
            </div>
            <div class="form-group">
              <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirmar Contraseña" required>
              <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
                <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required'] && registerForm.get('confirmPassword')?.touched">
                  <small class="text-danger">La confirmación de la contraseña es requerida</small>
                </div>
              </div>
              <div *ngIf="registerForm.errors?.['passwordsMatch'] && registerForm.get('confirmPassword')?.touched && registerForm.get('password')?.touched">
                <small class="text-danger">Las contraseñas deben coincidir.</small>
              </div>
            </div>
            <button type="submit" id="submit" (click)="submitButtonOnClick()" class="btn btn-primary btn-block" style = "display: block; margin: 0 auto;">Registrarse</button>
          </form>
        </div>
        <div class="card-footer text-center">
          ¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../js/register.js"></script> -->
</body>
</html>
