
<body>
<app-header></app-header>
<div class="container mt-4">
    <h2 class="event-name">Próximos Eventos</h2>
    <!-- Activities -->
    <div class="row">
        <ng-template ngFor let-event [ngForOf]="events">
            <div class="col-md-4">
                <app-event-card  [eventCard]='event'></app-event-card>
            </div>
        </ng-template>
    </div>
    <div class="text-center" *ngIf="isLoading">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="container text-center mt-4" *ngIf="moreBtnVisible">
    <div class="row justify-content-center">
        <div class="col-auto">
            <button class="btn btn-primary" (click)="newPage()" >Cargar más eventos</button>
        </div>
    </div>
</div>
</body>