<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel='stylesheet' type='text/css' media='screen' href='/css/forms.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='/css/error.css'>
  -->

  <link rel="icon" href="./assets/logo.png" type="image/png">
  <title>Email enviado</title>

</head>
<body>
  <div *ngIf="emailSent">
    <div class="error-container">
      <h1 class = "m">Se le ha enviado un email para su cambio de contraseña</h1>
      <p>El email contiene un link de un solo uso que le permitirá cambiar su contraseña</p>
      <p>Tenga en cuenta que el link sólo dura 10 minutos.</p>
      <a href="/login" class="btn">Volver a login</a>
    </div>
  </div>
  <div *ngIf="!emailSent">

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header text-center">
              <img src="./assets/logo.png" alt="Logo" class="img-fluid small-logo me-3">
              <h3>Cambiar Contraseña</h3>
            </div>


            <div class="card-body">
              <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                  <input formControlName="password" type="password" class="form-control" name="password" id="password" placeholder="Nueva contraseña" required>
                  <div *ngIf="changePasswordForm.get('password')?.invalid && changePasswordForm.get('password')?.touched && changePasswordForm.get('password')?.errors?.['required']">
                    <small class="text-danger">La contraseña es requerida</small>
                  </div>
                  <div *ngIf="changePasswordForm.errors?.['passwordsMatch'] && changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('password')?.touched">
                    <small class="text-danger">Las contraseñas deben coincidir.</small>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <input formControlName="confirmPassword" type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirme contraseña" required>
                  <div *ngIf="changePasswordForm.get('confirmPassword')?.invalid && changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.errors?.['required']">
                    <small class="text-danger">La confirmación de la contraseña es requerida</small>
                  </div>
                  <div *ngIf="changePasswordForm.errors?.['passwordsMatch'] && changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('password')?.touched">
                    <small class="text-danger">Las contraseñas deben coincidir.</small>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Cambiar contraseña</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
