<div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
</div>
<body>
    <app-header [isIndex]="false" [logged]="true"></app-header>
    <div class="window-background" *ngIf="showTagPopUp">
        <div class="window-container">
            <!-- Close button for the popup -->
            <a class="close-button" (click)="closePopUp()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="icon-x">
                    <path
                            d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                    </path>
                </svg>
            </a>
            <a class="close-button delete-button" *ngIf="showDeleteBtn" (click)="warn()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="icon-x">
                    <path
                            d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z">

                    </path>
                </svg>
            </a>
            <!-- Form for creating/editing tags -->
            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                <div class="form-group" id="first-part-tag-form">
                    <label for="tag-name-in">Nombre del tag</label>
                    <input type="text" class="form-control"  formControlName="name" placeholder="Nombre del tag">
                </div>
                <div class="form-group">
                    <label for="tag-color-in">Color del tag</label>
                    <input type="color" class="form-control"  formControlName="color" placeholder="Color del tag">
                </div>
                <button type="submit" class="btn btn-primary btn-block" [disabled]="categoryForm.invalid">Guardar</button>
            </form>
        </div>
    </div>

    <!-- Main content area -->
    <div class="container mt-4">

        <!-- Profile section -->
        <div class="profile-container">
            <h2 class="event-title">Mi Perfil</h2>
            <div class="row">
                <!-- Profile picture -->
                <div class="col-md-4">
                    <img class="profile-photo" [src]="currentPhoto" alt="Foto de Perfil">
                </div>
                <!-- User information -->
                <div class="col-md-8">
                    <div class="user-data">
                        <p><strong>Nombre: </strong>{{currentName}}</p>
                        <p><strong>Correo: </strong>{{currentEmail}}</p>
                        <p><strong>Nick: </strong>{{currentUsername}}</p>

                    </div>
                </div>
                <!-- Buttons for account management -->
                <div class="container text-center" >
                    <div class="row justify-content-center">
                        <div class="col col-lg-2 container-delete-account">
                            <label for="pfp" class="custom-file-upload" >
                                <i class="fas fa-camera"></i>
                                Cambiar foto de perfil
                            </label>
                            <input type="file" accept="image/png, image/jpeg, image/jpg"  (change)="sendProfileImage($event)" class="btn btn-primary" placeholder="Editar foto de perfil" id="pfp">
                        </div>
                        <div class="col text-center btn-edit-account" *ngIf="!isAdmin">
                            <button (click)="activateEditing()" class="btn btn-primary" >Editar Perfil</button>

                            <!-- Hidden div for the pop-up -->
                            <div  *ngIf="editingProfile">
                                <form  [formGroup]="editProfileForm" (ngSubmit)="onSubmitProfile()" >
                                    <div class="form-group">
                                        <label for="edit-name">Nombre:</label>
                                        <input formControlName="name" [(ngModel)]="currentName" type="text" class="form-control" name="name">
                                        <div *ngIf="editProfileForm.get('name')?.invalid && editProfileForm.get('name')?.touched">
                                          <small class="text-danger">El nombre es requerido.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="edit-email">Correo:</label>
                                        <input formControlName="email" [(ngModel)]="currentEmail" type="email" class="form-control"  name="email" value="">
                                        <div *ngIf="editProfileForm.get('email')?.errors?.['required'] && editProfileForm.get('email')?.touched">
                                          <small class="text-danger">El email es requerido.</small>
                                        </div>
                                        <div *ngIf="editProfileForm.get('email')?.errors?.['email'] && editProfileForm.get('email')?.touched">
                                          <small class="text-danger">El email debe tener formato de email.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="edit-username">Nick:</label>
                                        <input formControlName="username" [(ngModel)]="currentUsername" type="text" class="form-control"  name="username" value="">
                                        <div *ngIf="editProfileForm.get('username')?.errors?.['required'] && editProfileForm.get('username')?.touched">
                                          <small class="text-danger">El nombre de usuario es requerido.</small>
                                        </div>
                                        <div *ngIf="editProfileForm.get('username')?.errors?.['userNameTaken'] && editProfileForm.get('username')?.touched">
                                          <small class="text-danger">Este no es un usuario válido.</small>
                                        </div>
                                    </div>
                                    <button type="submit" [disabled]="!editProfileForm.valid" class="btn btn-primary" >Guardar Cambios</button>
                                    <button type="submit"  (click)="cancel()" class="btn btn-danger" >Cancelar</button>
                                </form>
                            </div>
                        </div>

                        <div class="col text-center profile" *ngIf="isAdmin">
                            <button (click)="this.banFormOpen = !this.banFormOpen" class="btn btn-warning"><i class="fas fa-user-slash"></i>Banear</button>

                            <!-- Hidden div for the ban pop-up -->
                            <div  *ngIf="banFormOpen">
                                <form  [formGroup]="banUserForm" (ngSubmit)="onSubmitBan()" action="/ban" method="post">
                                    <div class="form-group">
                                        <label for="username">Nombre de Usuario:</label>
                                        <input type="text" formControlName="banUser" class="form-control"  name="usernameBan" required>
                                    </div>
                                    <button type="submit" (click) ="warnBan()" class="btn btn-primary"><i class="fas fa-user-slash"></i>Banear Usuario</button>
                                </form>
                            </div>
                        </div>
                        <div class="col text-right profile" *ngIf="isAdmin">
                            <button (click)="this.unbanFormOpen = !this.unbanFormOpen" class="btn btn-success"><i class="fas fa-user"></i>Desbanear</button>

                            <!-- Hidden div for the unban pop-up -->
                            <div  *ngIf="unbanFormOpen">
                                <form  [formGroup]="unbanUserForm" (ngSubmit)="onSubmitUnban()" action="/unban" method="post">
                                    <div class="form-group">
                                        <label for="username">Nombre de Usuario:</label>
                                        <input formControlName="unbanUser" type="text" class="form-control"  name="usernameUnBan" required>
                                    </div>
                                    <button type="submit" (click)="warnUnBan()" class="btn btn-primary"><i class="fas fa-user"></i>
                                        Desbanear Usuario</button>
                                </form>
                            </div>
                        </div>
                        <!-- Option visible only for regular users (to delete account) -->
                        <div class="col-lg-2" *ngIf="!isAdmin">
                          <button (click)="deleteUser()" class="btn btn-danger">Eliminar Cuenta</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tags section -->
            <div class="user-events " *ngIf="isAdmin">
                <h3 class="created">Tags</h3>
                <div class="row flex-wrap">
                    <ng-template ngFor let-category [ngForOf]="categories">
                        <div class="col-md-4 mb-4 categories">
                            <div class="activity d-flex flex-row align-items-center" name="tag">
                                <div class="categories-container info admin-category-container">
                                    <span class="event-category admin-category" [style.backgroundColor]="category.color" name="tag-name">{{category.name}}</span>
                                </div>
                                <button class="btn btn-block" (click)="showPopUp(category.id)">Ver Detalles</button>
                            </div>
                        </div>
                    </ng-template>

                    <div class="col-md-4 mb-4 last" (click)="showPopUp(-1)">
                        <div class="activity d-flex flex-row align-items-center" style="justify-content: center">
                            <div class="categories-container info" >
                                <span class="event-category category-add admin-category" >+</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" *ngIf="loadingTags">
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>

            <div class="container text-center mt-4" *ngIf="isAdmin && tagLoadMoreBtn">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <button class="btn btn-primary" (click)="nextCategory()" >Cargar más tags</button>
                    </div>
                </div>
            </div>
            <!-- User-created events section -->
            <div class="user-events">
                <h3 class="created" *ngIf="isAdmin">Todos los eventos</h3>
                <h3 class="created" *ngIf="!isAdmin">Mis eventos creados</h3>
                <div class="row flex-wrap">
                    <ng-template ngFor let-event [ngForOf]="events1.events">
                        <div class="col-md-4 mb-4">
                            <app-profile-event-card [eventCard]="event"></app-profile-event-card>
                        </div>
                    </ng-template>
                    <div class="col-md-4 mb-4 last" (click)="toCreateEvent()" *ngIf="!isAdmin">
                        <div class="activity d-flex flex-row align-items-center" style="justify-content: center">
                            <div class="categories-container info">
                                <button type="submit" style="background: none; border: none; padding: 0; margin: 0;">
                                    <span class="event-category category-add admin-category">+</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center"  *ngIf="events1.loadingEvents">
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
                <div class="text-center" *ngIf="!events1.areThereEvents">
                    <h5 class="no-events-message">No hay eventos.</h5>
                </div>
            <div class="container text-center mt-4" *ngIf="events1.loadMore">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <button class="btn btn-primary" (click)="nextEvent(1)">Cargar más eventos</button>
                    </div>
                </div>
            </div>
            <!--Charts-->
            <div class="Charts " *ngIf="isAdmin">
                <h3 class="created">Gráficas</h3>
                <div class="aling-auto" >
                    <ngx-charts-bar-vertical
                    [view]="view"
                    [results]="chartData"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel">
                    </ngx-charts-bar-vertical>
                </div>
            </div>

            <!-- User-created events that have already ended section -->
            <div class="user-events" *ngIf="!isAdmin">
                <h3 class="next">Eventos pasados que he creado </h3>
                <div class="row flex-wrap">
                    <ng-template ngFor let-event [ngForOf]="events2.events">
                        <div class="col-md-4 mb-4">
                            <app-profile-event-card [eventCard]="event"></app-profile-event-card>
                        </div>
                    </ng-template>
                    <div class="text-center" *ngIf="events2.loadingEvents">
                        <div class="spinner-border" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
            </div>

                <div class=" text-center" *ngIf="!events2.areThereEvents && !isAdmin">
                    <h5 class="no-events-message">No hay eventos.</h5>
                </div>
            <div class="container text-center mt-4" *ngIf="!isAdmin && events2.loadMore">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <button class="btn btn-primary" (click)="nextEvent(2)">Cargar más eventos</button>
                    </div>
                </div>
            </div>
            <!-- Events user has signed up for -->
            <div class="user-events" *ngIf="!isAdmin">
                <h3 class="next">Eventos a los que me he apuntado</h3>
                <div class="row flex-wrap">
                    <ng-template ngFor let-event [ngForOf]="events3.events">
                        <div class="col-md-4 mb-4">
                            <app-profile-event-card [eventCard]="event"></app-profile-event-card>
                        </div>
                    </ng-template>
                </div>
                <div class="text-center" *ngIf="events3.loadingEvents">
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
                <div class=" text-center" *ngIf="!events3.areThereEvents && !isAdmin">
                    <h5 class="no-events-message">No hay eventos.</h5>
                </div>
            <div class="container text-center mt-4" *ngIf="!isAdmin && events3.loadMore">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <button class="btn btn-primary" (click)="nextEvent(3)">Cargar más eventos</button>
                    </div>
                </div>
            </div>
            <!-- Past events user has signed up for -->
            <div class="user-events" *ngIf="!isAdmin">
                <h3 class="next">Eventos pasados a los que me he apuntado</h3>
                <div class="row flex-wrap">
                    <ng-template ngFor let-event [ngForOf]="events4.events">
                        <div class="col-md-4 mb-4">
                            <app-profile-event-card [eventCard]="event"></app-profile-event-card>
                        </div>
                    </ng-template>
                </div>
                <div class="text-center" *ngIf="events4.loadingEvents">
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>

                <div class="text-center" *ngIf="!events4.areThereEvents && !isAdmin">
                    <h5 class="no-events-message">No hay eventos.</h5>
                </div>

            <div class="container text-center mt-4" *ngIf="!isAdmin && events4.loadMore">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <button class="btn btn-primary" (click)="nextEvent(4)">Cargar más eventos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
